/***** BASE STYLES*****/

/****font-family: 'Muli', sans-serif;
font-family: 'Francois One', sans-serif;*****/



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body, html {
font-family: 'Francois One', sans-serif;
font-size: 16px;
color: #222
background-color:#eee;
}

a {
    font-weight: 700;
    color: #23a4cc;
    text-decoration: none;
}

p{
    font-size: 1em;
    line-height: 1.4;
}

img{
    width: 100%;
    height: auto;
}

h1, h2, h3, h4{
    font-weight: 700;
}

h1{
    font-size: 1.4em;
    line-height: 1.6;
}

h2{
    font-size: 1em;
}

.btn{
    background-color: #ff1256;
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    box-shadow: 2px 2px 0px #DADADA;
    height: 2.5em;
    width: 100%;
    display: block;
}
    .btn:hover{
        background-color:  #b30047;
    }

input.btn{
    background-color: #ff1256;
}
    input.btn:hover{
        background-color: #732626;
    }

.no-border{
    border: none;
}
#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    margin: 0 auto;
    float: left;
}
.third-width {
    width: 400px;
    margin: 0 auto;
    float: left;
}
/***** HEADER *****/
header {
  height: 400px;
  background: url('../img/hero-grass.png');
  background-size: cover;
}
header h1 {
    padding: 50px 0;
    font-family: 'Francois One', sans-serif;    font-size: 30px;
    color: #fff;
}

#logo {
  height: 50px;
  width: 50px;
  float:left;
  margin: 0 0 10px 10px;
}
nav {
    float: right;
    padding: 50px 40px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform:uppercase;
    text-decoration:none;
    font-size:1em;
    color:#fff;
    padding-left: 80px;
}
header h2 {
    width:1000px;
    clear:both;
    font-family: 'Muli', sans-serif;
    font-size:72px;
    line-height:100px;
    color:#fff;
    padding: 10px 0;
}
header h2 span {
    color:#fff
}
/* Main Content =========================== */
main {
    width: 96%;
    padding: 0 2%;
    margin:auto;
    max-width: 960px;
}
/***** ABOUT *****/
#about .full-width {
  padding: none;
  margin: 0 auto;
}

#about h2 {
    font-family: 'Muli', sans-serif;
    font-size:2em;
    color: #A9A9A9;
}

#about p {
    font-size:1em;
    font-family: 'Muli', sans-serif;
    color:#404040;
    line-height: 40px;
    padding-right: 50px;
}
/***** ABOUT *****/
#staff {
  background: #3399ff;
  width: 100%;
  height: 500px;
  text-align: center;
  margin: auto;
}
#staff .full-width{
  padding:100px 0;
}
#staff h3{
  font-size: 1.2em;
  color: #2b2b2b;
  margin:10px auto;
}
#staff p{
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  color: #2b2b2b;
  line-height: 30px;
  margin: 3px;
  color:inherit;
  padding: 10px;
}
/***** CONTACT *****/

#contact {
  background:  #f2f2f2;
  height: 700px;
  width: 100%;
}
#contact .full-width {
  padding: 110px 0;
}
#contact-img {
  float: right;
  height: 750px;

}
#contact-img img{
  float: right;
  height: 700px;
  width: 100%;
}
]
#contact h2, #phone-header, #phone, #email, #facebook {
float: left;
padding-right: 400px;
}

#contact h2 {
    font-family: 'Muli', sans-serif;
    font-size:2em;
    color:#2B2B2B;
    float: left;
}
#phone-header{
    font-family: 'Muli', sans-serif;
    font-size:2em;
    color: #2B2B2B;
    margin: -30px 0 5px 0;
}
#phone{
  font-family: 'Muli', sans-serif;
  color: #2B2B2B;
  line-height: normal;
  font-size;
}
#email {
  font-family: 'Muli', sans-serif;
  color: #3399ff;
}
#email a{
  font-family: 'Muli', sans-serif;
  color: #3399ff;
  text-decoration: none;
}
#facebook {
    font-family: 'Muli', sans-serif;
    font-weight:normal;
    font-size:2em;
    color: #fff;
    margin:40px 0 0 0;
}
#facebook a{
  font-family: 'Muli', sans-serif;
  color: #fff;
  text-decoration: none;
}

  ========================================================================== */

@media (min-width:768px) {

   /* Header =========================== */

   .main-header{
       width:94%;
       max-width:940px;
       margin:auto;
       background-color: #eee;
       padding: 0 3%;
   }
   header {
     background: url('../img/hero-grass.png');
     background-size: cover;
     height: 400px;
     width: 94%;
   }
   header h1 {
       padding: 0 3%;
       font-family: 'Francois One', sans-serif;    font-size: 30px;
       color: #fff;
   }
   #logo {
     width: 40%;
     float: left;
   }
   nav {
       width: 60%;
       float:right;
   }
   nav ul{
       margin: 0;
   }
   nav ul li {
       display: inline;
       padding:0 1%;
       border:none;
       line-height: 2;
       position:relative;
       top:16px;
   }



   main {
       width: 96%;
       padding: 0 2%;
       margin:auto;
       max-width: 940px;
   }
   /***** ABOUT *****/
   #about .full-width {
     padding: none;
     margin: 0 auto;
   }

   #about h2 {
       font-family: 'Muli', sans-serif;
       font-size:2em;
       color: #A9A9A9;
   }

   #about p {
       font-size:1em;
       font-family: 'Muli', sans-serif;
       color:#404040;
       line-height: 40px;
       padding-right: 50px;
   }
   /***** STAFF *****/
   #staff {
     background: #3399ff;
     width: 100%;
     height: 500px;
     text-align: center;
     margin: auto;
   }
   #staff .full-width{
     padding:100px 0;
   }
   #staff h3{
     font-size: 1.2em;
     color: #2b2b2b;
     margin:10px auto;
   }
   #staff p{
     font-family: 'Muli', sans-serif;
     font-size: 1em;
     color: #2b2b2b;
     line-height: 30px;
     margin: 3px;
     color:inherit;
     padding: 10px;
   }
   /***** CONTACT *****/

   #contact {
     width: 100%;
     clear:both;
     background:#f2f2f2;
     width: 100%;
   }
   #contact .full-width {
     padding: 110px 0;
   }
   #contact-img {
     float: right;

   }
   #contact-img img{
     float: right;
     width: 100%;
   }
   ]
   #contact h2, #phone-header, #phone, #email, #facebook {
   float: left;
   padding-right: 400px;
   }

   #contact h2 {
       font-family: 'Muli', sans-serif;
       font-size:2em;
       color:#2B2B2B;
       float: left;
   }
   #phone-header{
       font-family: 'Muli', sans-serif;
       font-size:2em;
       color: #2B2B2B;
       margin: -30px 0 5px 0;
   }
   #phone{
     font-family: 'Muli', sans-serif;
     color: #2B2B2B;
     line-height: normal;
     font-size;
   }
   #email {
     font-family: 'Muli', sans-serif;
     color: #3399ff;
   }
   #email a{
     font-family: 'Muli', sans-serif;
     color: #3399ff;
     text-decoration: none;
   }
   #facebook {
       font-family: 'Muli', sans-serif;
       font-weight:normal;
       font-size:2em;
       color: #fff;
       margin:40px 0 0 0;
   }
   #facebook a{
     font-family: 'Muli', sans-serif;
     color: #fff;
     text-decoration: none;
   }

 }
